<form action="/cryptids" method="POST">
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">
  
    <label for="cryptidType">Type</label>
    <input id="cryptidType" type="image_url" name="type">
  
    <input type="submit">
  </form>

  